@model IEnumerable<Ancestry.Models.Review>

@{
    ViewBag.Title = "Review List";
}

<h2>Review List</h2>
<br/>

<table class="list-table">
    <tr class="row-list">
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Ability To Find</th>
        <th>Range Of Products</th>
        <th>Easy Checkout</th>
        <th>Overall Experience</th>
        <th>Most Liked</th>
        <th>Most Disliked</th>
        <th>Most Like To See</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbilityToFind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeOfProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EasyCheckout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostLiked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostDisliked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostLikeToSee)
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        $('.list-table').fadeIn(1000);
    });
</script>
